canvas {
    background-color: brown;
}

fon {
    font-family: Verdana;
}

#Bewertungsanzeige {
    width: 50px;
    height: 850px;
    position: relative;
    background: black;
    border: 1px;
    border-color: black;
  }
  
  #myAnimation {
    width: 50px;
    height: 400px;
    position: absolute;
    background: white;
    border: 1px;
    border-color: black;
  }

  #Zughistorie {
      float: left;
  }

  td {
      vertical-align: top;
  }

  textarea {
      width: 200px;
      height: 850px;
      resize: none;
  }