
p {
    font-family: Verdana;
    font-size: 18px;
    color: white;
}


h2 {
    font-family: Verdana;
    text-align: center;
    color: #e50043;
}

button {
    background-color: #afafaf;
    width: 100%;
    height: 40px;
    border-top: 1px solid;
    border-bottom: none;
    border-left: none;
    border-right: none;
    font-family: Verdana;
    font-size: 15px;
}

#Bewertungsanzeige {
    width: 30px;
    height: 850px;
    position: relative;
    background: black;
    border: 1px solid;
    border-color: black;
  }
  
  #myAnimation {
    width: 30px;
    height: 400px;
    position: absolute;
    background: white;
    border: 1px solid;
    border-color: black;
  }

  #Zughistorie {
      float: left;
  }

  td { 
      align-items: center;
      text-align: center;
        
    /* border: 1px solid;
    border-color: black; */
  }


  #header {
      background-color: white;
  }

  #footer {
        background-color: #455059;
        height: 200px;
  }


  /* damit kein weißer Rand um die Fußleiste entsteht */
  body { 
    padding: 0;
    margin: 0;
  }

  table {
    background-color: #62717c;  
    width: 100%;
  }

  input {
    background-color: #afafaf;
    text-align: center;
    border: none;
    border-radius: 3px;
  }

  textarea {
      width: 200px;
      height: 850px;
      font-size: 20px;
      resize: none;
      background-color: #afafaf;
      border-radius: 5px;
  }

  button:hover {
      background-color: #455059;
      color: white;
  }