<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schwach Matt</title>

</head>
<body>
    <!-- Zeichenfläche für das Schachbrett -->
    <!-- <div id="drawfield">
        <canvas width="1600" height="1600"></canvas>
    </div>
    <input type="submit" onclick="coordinates()" value="ACTIVATE & CLICK YELLOW BOX" /><br/>
    <script type="text/javascript">
        var coordinates = function () {
            document.getElementById("drawfield").addEventListener("click", boxClicked);
        }
        function boxClicked() {
            alert("Client X: " + window.event.clientX + " ClientY: "
            + window.event.clientY);
            
            alert("offsetX: " + window.event.offsetX + " offsetY: "
            + window.event.offsetY);
            
            alert("screen X: " + window.event.screenX + " screenY: "
            + window.event.screenY);
        }
    </script> -->

<button id="btn">Click me with any mouse button: left, right, middle, ...</button>
<p id="message"></p>
    
</body>
</html>
